<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">

        <div>
            <label for="naam">Username</label>
            <input type="text" name="username" id="naam">
        </div>
                <div>
            <label for="mail">email</label>
            <input type="email" name="email" id="mail">
        </div>
            
        <div>
            <label for="pass">Password</label>
            <input type="password" name="password" id="pass">
        </div>
        <button>Singup</button>
    </form>
</body>
</html>